build/
.cache/
dump/

*.o
*.ko
*.mod
*.mod.c
*.symvers
*.order
modules.builtin

*.elf
*.bin

lib/libgpgpu.a
lib/test/test_*
lib/test/infer_tokens
lib/test/dump_dev_layer12_down

weights/*.bin
ref/**/*.bin
